

.font{
    background-color: #767de4;
    
}
.font > h1{
    color: black;
    font-size: 5px;
    
}
.panel{
    width:80%;
    max-width: 1200px;
    background-color:white;
    margin: 10px auto;
    padding: 1.5em;
    border:6px solid black;
}

